:root {
  --off-white: #FAFAFA; /* Off-white for body-bg*/
  --text-color: #1A1A1A; /*Soft-black color */
  --primary-color: #1447E6; /* Blue color */
  --secondary-color: #F1C40F; /*Soft Gold color */
  --accent-color: #D3D3D3; /*Light gray color */
  --text-size: 17px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  display: inline-block;
}
.image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  color: #202020;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
}
.image-container:hover .content {
  opacity: 1;
}
.image-container:hover .image {
  opacity: 0.7;
}

/*
.image-container {
  margin: 10px;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.image-container img {
  aspect-ratio: 1 / 1;
}
#slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
*/

/* For medium (md) screens and above */
@media (min-width: 768px) {
  #slider-image {
    width: 100%; /* Keep image at full width */
    height: auto; /* Let the height adjust automatically */
    object-fit: contain; /* Retain aspect ratio without stretching */
    transition: none; /* Disable transition effect */
  }
}

